# Ignore everything
**

# Docker files
!Dockerfile
!docker-compose.yml

# Configuration files needed by Compose
!gorse-config.toml
!init-db.sh

# The fat JAR
#!server/
#!server/app/
!server/build/
#!server/app/build/libs/
!server/build/libs/fat.jar